.board {
  width: 300px; /* Total horizontal dimensions */
  height: 300px; /* Total vertical dimensions */
  display: grid; /* Enables CSS Grid */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(
    3,
    1fr
  ); /* Total vertical space broken into 3 rows */
  text-align: center;
  vertical-align: middle;
}

.box {
  border: 1px solid; /* Shows the lines in the CSS grid */
  font-size: 35px;
  border-color: red;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
  from {
    border-color: red;
  }
  to {
    border-color: yellow;
  }
}
